.cartpage__container{
    width: 100%;
    background-color: rgba(211, 211, 211, 0.322);
    min-height: 100vh;
}
.cartpage{
    max-width: 1300px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}
.cartpage__main{
    width: 60%;
    padding: 20px;
    background-color: white; 
    margin-right: 20px;
    border-radius: 12px;
}
.cartpage__right{
    width: 40%;
    max-height: 400px;
    padding: 20px;
    background-color: white; 
    border-radius: 12px;
}