.cartpage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartpage__button{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}