.checkoutpage{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.summary{
    margin-top: 10px;
    width: 25%;
    height: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
}
.addresses{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 20px;
}
.addresscard{
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    border: 1px solid gray;
    line-height:0.5rem;
    font-size: 14px;
}
.addresscard__buttons{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
@media screen and (max-width:1200px) {
    .checkoutpage{
        flex-direction: column;
        justify-content: flex-start;
    }
    .summary{
        width: calc(100% - 20px);
        margin: 10px;
    }
}