.myaccountpage{
    min-height: 100vh;
    display: flex;
}
.sidepanel__items{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-family: 'Manrope' !important;
}
.sidepanel__items > button{
    color: black;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding:10px 30px;
    border: unset;
    border-left: 6px solid transparent;
    background: #C5F2C7;
    margin: 5px 15px 0px 10px;
    border-radius: 7px;
    transition: 0.3s;
    font-weight: bold;
}
.sidepanel__items > button:hover{
    border-left: 6px solid green;
    color: #0F56B3;
    background-color: #C5DCFA;
}
.resetpasswordform{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
