.orders {
  padding: 40px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.order {
  width: 700px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 12px;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
}
.order__header {
  height: 20%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
  border-bottom: 1px solid lightgray;
  border-radius: 10px 10px 0px 0px;
  font-size: 0.8rem;
  line-height: 0.4rem;
  align-items: center;
  padding: 15px 15px 0px 15px;
  font-weight: bolder;
}
.order__body {
  height: 55%;
  display: flex;
  /* background-color: green; */
  padding: 10px;
  column-gap: 5px;
}
.order__body > img {
  width: 30%;
  /* background-color: lightpink; */
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
}
.order__body__data {
  width: 70%;
  /* background-color: lightslategray; */
}
.order__body__details {
  /* background-color: lime; */
  height: 70%;
  padding: 15px;
}
.order__body__buttons {
  height: 30%;
  display: flex;
  justify-content: right;
  padding: 3px 10px;
  /* background-color: orange; */
}

.order__footer {
  height: 25%;
  padding: 15px 15px;
  /* background-color: lightgreen; */
}

.order__footer__status {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  margin-bottom: 5px;
}
.order__footer__status > small {
  font-weight: bolder;
}
@media screen and (max-width: 720px) {
  .order {
    width: fit-content;
    height: fit-content;
  }
  .order__header {
    flex-direction: column;
    height: fit-content;
    align-items: flex-start;
  }
  .order__header__date,
  .order__header__total,
  .order__header__id {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .order__body {
    flex-direction: column;
  }
  .order__body > img,
  .order__body__data {
    width: 100%;
  }
  .order__body__buttons {
    justify-content: left;
  }
}
