.testpage{
    width: 100vw;
    min-height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.contact{
    width: 800px;
    height: 500px;
    background-color: white;
    /* display: flex; */
}
.first{
    width: 40%;
    margin:50px 10px 50px -60px;
    background-color: blue;
}
.second{
    width: 70%;
    background-color: lightcoral;
}