@import url("https://fonts.googleapis.com/css?family=Abel");

.appointment {
  width: 450px;
  max-width: 450px;
  height: fit-content;
  background-color: #fceeb5;
  background: linear-gradient(#92bca6, #a2ccb6);
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  display: flex;
  font-family: "Abel", Arial, Verdana, sans-serif;
}
.type {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
  width: fit-content;
  margin: 0 auto;
}
.card__left {
  width: 35%;
  border-right: 1px solid rgba(0, 0, 0, 0.116);
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 20px;
}
.card__right {
  width: 65%;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 10px;
}
.avatar > img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  object-fit: cover;
}
.more__info > h1 {
  color: #224c36;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.others > p {
  font-size: 1rem;
  color: #224c36;
  display: flex;
  justify-content: space-between;
}
.others {
  line-height: 0rem;
  color: #224c36;
}
.card__address > p {
  font-size: 1rem;
  bottom: 0px;
  line-height: 1rem;
}
.card__address {
  color: #224c36;
  text-align: center;
  font-weight: bolder;
}
.time {
  position: absolute;
  right: 15px;
}
@media screen and (max-width: 1200px) {
  .appointment {
    width: 100%;
    padding: 0px;
    margin: 10px;
  }
  .more__info > h1 {
    line-height: 1.2rem;
  }
  .avatar > img {
    width: 70px;
    height: 70px;
  }
  .others > p {
    font-size: 0.8rem;
  }
}
