.cartinvoice {
  height: fit-content;
}
.cartinvoice__item {
  display: flex;
  justify-content: space-between;
}
.cartinvoice__item > h4 {
  font-weight: bolder;
}
.checkout__btn {
  display: flex;
  border-top: 2px solid black;
  padding-top: 20px;
  margin-top: 20px;
}
