.cartitem{
    width: 100%;
    height: 200px;
    padding: 20px 0px;
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
}
.item__img{
    width: 20%;
    height:100%;
    margin-right: 20px;
}
.item__img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item__content{
    width: 80%;
}

.price__and__deletebtn> h4{
    font-weight: bolder;
}
.price__and__deletebtn{
    display: flex;
    justify-content: space-between;
}
.price__and__deletebtn > button{
    margin-top: -50px;
}
.price__and__deletebtn > button{
    padding: 0px 10px;
    border: none;
    background-color: unset;
    font-weight: bolder;
}
.price__and__deletebtn > button:hover{
    font-size: 1.3rem;
}
.item__quantity{
    display: flex;
    line-height: 0;
    column-gap: 20px;
}
.item__quantity > p{
    margin-top: 15px;
}
.item__quantity > button{
    padding: 0px 12px;
    border-radius: 5px;
    border: none;
}
.item__quantity > button:hover{
    font-weight: bolder;
    background-color: lightgrey;
}