.footer{
    height: fit-content;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
}
@media screen and (max-width:1200px){
    .footer{
        height: fit-content;
        flex-direction: column;
        justify-content:space-between;
        padding:20px;
    }
    .footer__left, .footer__middle, .footer__right{
        margin-bottom: 20px;
        align-items: center;
    }
}
.footer__left, .footer__middle, .footer__right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
a{
    color: white;
}
.footer__heading,.footer__logo{
    font-weight: bolder;
    color: lightcyan;
}
.footer__right >p {
    text-align: center;
}
.footer__right__socialmedia{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding:10px;

}
.footer__right__socialmedia >a {
    margin-right: 10px;
    color:cadetblue;
    font-size: 2rem;
}
.footer__right__socialmedia >a:hover {
    color:grey;
}
