.footer{
    height: fit-content;
    background-color: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 20px;
}

.shamelessplug{
    background-color: #efeae1;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    color: #574c4f;
    text-align: center;
    padding: 10px;
}
.shamelessplug__icons > a{
    color: #574c4f;
    font-size: 1.5rem;
}
.shamelessplug__icons{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}
.shamelessplug > p{
    margin: unset;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.2rem;
}

@media screen and (max-width:1200px){
    .footer{
        height: fit-content;
        flex-direction: column;
        justify-content:space-between;
        padding:20px;
    }
    .footer__left, .footer__middle, .footer__right{
        margin-bottom: 20px;
        align-items: center;
    }
    .shamelessplug{
        flex-direction: column;
        row-gap: 10px;
    }
}
.footer__left, .footer__middle, .footer__right{
    display: flex;
    flex-direction: column;
    align-items: center;

}
a{
    color: white;
}
.footer__heading,.footer__logo{
    font-weight: bolder;
    color: rgb(228, 172, 19);
}
.footer__logo> h2 > a{
    color: rgb(228, 172, 19);

}
.footer__heading > h2{
    font-size: 1.4rem;
}
.footer__right >p {
    text-align: center;
    font-size: unset;
}
.footer__right__socialmedia{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding:10px;

}
.footer__right__socialmedia >a {
    margin-right: 10px;
    color:cadetblue;
    font-size: 1.5rem;
}
.footer__right__socialmedia >a:hover {
    color:grey;
}
