.header{
    width: 100%;
    background-color:rgb(100, 86, 57);
    color: white;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 0px 10px;
}
.phone,.address,.social__media{
    width: 30%;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.phone{
    justify-content: center;
}
.social__media{
    justify-content: flex-end;
}
@media screen and (max-width:950px){
    .header{
        flex-direction: column;
        row-gap: 10px;
        padding:10px;
    }
    .phone,.address,.social__media{
        width: 100%;
        justify-content: center;
    }
}
.social__media{
    column-gap: 30px;
}
.social__media :hover{
    color: grey;
}