.login {
  /* background-color: red; */
  padding: 30px;
}
.login__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.forgot {
  border: transparent;
  width: fit-content;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
}
.forgot:hover,
.submit:hover {
  color: lightgrey;
}
.submit {
  min-width: 180px;
  color: white;
  background-color: #1d5fbbdc;
  border: none;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: bolder;
  margin-top: 20px;
}
.logintxt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loading {
  color: green;
}
.login__title {
  margin-bottom: 60px;
  text-align: center;
}
.login__title > h3 {
  color: #1d5fbbdc;
  line-height: 7px;
}
.login__title > small {
  font-weight: bold;
  color: grey;
}
.form__width {
  width: 350px;
}
.login__msg {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
}
.login__success {
  background-color: lightgreen;
}
.login__error {
  color: black;
  background-color: lightpink;
}
@media screen and (max-width: 768px) {
  .form__width {
    width: unset;
  }
}
