.map{
    max-width: 1000px;
    width: 90%;
    height: 500px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.map > h3{
    width: fit-content;
    margin:0 auto;
    font-size: 2.3rem;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(20, 20, 20);
    font-family: serif;
}
.marker{
    display: flex;
}
.marker > p{
    font-family: monospace;
    font-size: 1rem;
    font-weight: bolder;
}