.navbar{
    background-color:rgb(20, 20, 20);
    position: sticky !important;
    top: 35px;
    z-index: 10;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
}
.navbar__middle{
    text-align: center;
    display: flex;
    align-items: center;
}
#basic-nav-dropdown{
    color: white;
}
.navbar__logo{
    font-size: 1.2rem;
    font-weight: bolder;
}
.navbar__middle > .link{
    padding: 0 1rem;
}
.navbar__right{
    display: flex;
    align-items: center;
}
.navbar__mobile__icon{
    color: white;
    margin-left: 20px;
    font-size: 2rem;
    display: none;
}
.navbar__mobile__icon :hover{
    color: grey;
}
@media screen and (max-width:1200px){
    .navbar__middle{
        display: none;
    }
    .navbar__button{
        display: none;
    }
    .navbar__mobile__icon{
        display: block;
    }
}
