.panchakarma {
  max-width: 1000px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h5 {
  line-height: 4rem;
  font-weight: bold;
}
ul {
  list-style: circle;
  margin-left: 20px;
}
.book__button {
  font-size: 1.3rem;
  float: right;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .book__button {
    float: left;
    font-size: 1rem;
  }
}
