.productcard{
    height: 380px;
    width: 250px;
    box-shadow: 0 7px 30px -10px rgb(150 170 180 / 50%);
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productcard >h3{
    line-height: 1rem;
    font-size: 1rem;
}
.productcard > img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}
.productcard__buttons{
    display: flex;
    column-gap: 20px;
}
.productcard__buttons> button{
    font-size: 0.8rem;
}
.productcard__buttons> a{
    font-size: 0.8rem;
}

.simple__alert{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: fit-content;
    height: 50px;
    background-color: rgb(20, 129, 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    line-height: 0;
    border-radius: 12px;
    font-weight: bolder; 
}
.alert__hide{
    display: none;
    transition: 1s ease-in-out;
}
.orange{
    background-color: orange;
}