.productcard{
    height: 600px;
    width: 350px;
    border: 3px solid black;
    border-radius: 6px;
    padding: 20px;
    margin:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.productcard >h3{
    line-height: 2rem;
}
.productcard > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.productcard__buttons{
    display: flex;
    column-gap: 20px;
}
.simple__alert{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    width: fit-content;
    height: 50px;
    background-color: rgb(20, 129, 44);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    line-height: 0;
    border-radius: 12px;
    font-weight: bolder;
    
}
.alert__hide{
    display: none;
    transition: 1s ease-in-out;
}