.search{
    margin:40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#search{
    width: 720px;
}
@media screen and (max-width:768px){
    .search{
        margin: 20px;
        width: unset;
    }
}