.search{
    margin:40px;
    width: 100%;
    display: flex;
    justify-content: center;
}
#search{
    width: 720px;
}
#search > .input-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
#search > .input-group >.form-control{
    border:hidden;
}
#search >.input-group >.form-control:focus{
    border:none;
    box-shadow: none;
    outline: none;
}
#search >.input-group >.form-control:focus-visible{
    border: none;
    box-shadow: none;
    outline: none;
}

@media screen and (max-width:768px){
    .search{
        margin: 20px;
        width: unset;
    }
}