.sidebar{
    width: 100%;
    height: 100vh;
    background-color: rgb(20,20,20);
    z-index: 999;
    position: fixed;
    transition: 0.3s ease-in-out;
}
.icon{
    color: white;
    font-size: 2rem;
    position: absolute;
    right: 1.2rem;
    top: 3rem;
}
.icon :hover{
    color: grey;
}
.show{
    top: 0%;
    opacity: 1;
}
.hide{
    top: -100%;
    opacity: 0;
}
.sidebar-content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    line-height: 3rem;
}
.bottom{
    position: absolute;
    bottom: 20%;
}
.cart__icon__mobile{
    color: white;
    font-size: 1.4rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
.cart__icon__mobile >p{
    background-color: red;
    border-radius: 50px;
    font-size: 0.8rem;
    line-height: 1rem;
    padding:3px 6px;
}
@media screen and (max-width:950px){
    .icon{
        top: 10rem;
    }
}