.signup__msg{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}
.signup__success{
    background-color: lightgreen;
}
.signup__error{
    color: black;
    background-color: lightpink;
}