.appointmentlist{
    min-height: 100vh;
    display: flex;   
}
.searchform{
    min-width: 250px;
    padding: 20px;
}
.appointment__items{
    width: calc(100% - 250px);
    padding: 30px;
    background-color: rgba(45, 209, 53, 0.219);
    display: flex;
    background-image: url('/src/images/background_pattern.png');
}
