
.bookappointment{
    box-sizing: border-box;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    min-height:80vh;
    display: flex;
    padding: 30px;
    align-items: center;
}
.bookappointment__form{
    width: 50%;
    height: fit-content;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
@media screen and (max-width:1200px){
    .bookappointment{
        width: 100%;
        flex-direction: column;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .bookappointment__form{
        width: 100%;
        height: fit-content;
    }
    .bookappointment__heading{
        width: 100% !important;
        height: fit-content !important;
    }
}
.bookappointment__heading{
    color: purple;
    width: 50%;
    height: 560px;
}
.bookappointment__heading> ul{
    margin-left: 40px;
    color: black;
    font-size: 1.2rem;
    list-style:circle;
}
.error{
    color: red;
}