
.bookappointment{
    padding: 30px;
    min-height:100vh;
    display: flex;
    background-image: url('/src/images/background_pattern.png');
    align-items: center;
    justify-content:space-evenly;
}
.bookappointment__form > h2{
    font-family: monospace !important;
    margin-bottom: 20px;
}
.bookappointment__form{
    height: fit-content;
    width: 700px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}
.error{
    color: red;
}