.homeappointment{
    width: 100%;
    min-height: 80vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.alert{
    position: fixed !important;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 999;
    font-weight: bolder;
}
.modal_header{
    color: white !important;
    background-color: rgba(23, 122, 106, 0.657) !important;
}