.medicineshop{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.medicineshop > img{
    width: 30vw;
}
.medicineshop > h2{
    color: grey;
    font-size: 1rem;
}
@media screen and (max-width:1200px){
    .medicineshop > img{
        width: 95vw;
    }
}