.card{
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

@media screen and (max-width:1200px){
    .card{
        flex-direction: column !important;
        width: 100% !important;
        margin:0px;
        padding: 0px;
    }
    .card__image{
        width:100% !important;
        transform: scale(0.4,0.4);
    }
    .card__image> img{
        text-align: center;
        padding: 0 !important;
        
    }
    .card__details{
        width:100% !important; 
    }
}

.card__image{
    width: 50%;
    text-align:center;
}
.card__image> img{
    width: 500px;
    object-fit: cover;
    border: 2px solid lightgray;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card__details{
    width: 50%;
    text-align: center;
}
.card__details > h2{
    margin-bottom: 30px;
    color: #116149;
    font-size: 30px;
    font-weight: 400;
}


