.showappointments{
    min-height: 100vh;
}
.searchform{
    height: 70px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    
}
.cardlist{
    display: flex;
    margin-left: 300px;
    margin-right: 300px;
}